<p>{{selectedAEvent ? selectedAEvent.title : "Selecteer een event"}}</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <p><b>Overview of all events</b></p>
      <table class="table event-table">
        <tr class="event-tr">
          <th class="event-th">Title</th>
        </tr>
        <tr *ngFor= "let event of aEvents; let aEindex = index"
            (click)="clickedRow(aEindex)" [class.active]="aEindex == highlightRow" class="event-tr">
          <td class="event-td"(click)="isSelected(event)">{{event.title}}</td>
        </tr>
      </table>
<!--      WIP - automatic info laden-->
      <button class="btn btn-event" (click)="addRandomAEvent()">Add Event</button>
    </div>

    <div class="col-lg-6">
<!--      WIP delete button-->
<!--      <app-detail2 [data]="selectedAEvent"></app-detail2>-->
      <app-detail2 [data]="selectedAEvent" (deleteEventInstanceEvent)="deleteEvent($event)"></app-detail2>
    </div>
  </div>
</div>
