<header>
<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4 logo1 justify-content-start">
      <img class="logo1" src="assets/Images/logo1.png"> <br><br>
      <p>Today's date is {{todayDate}}</p>
    </div>

    <div class="col-lg-4 title justify-content-center">
      <h1>{{websiteTitle}}</h1><br>
    </div>

    <div class="col-lg-4 logo2 d-flex justify-content-end">
      <img class="logo2" src="assets/Images/logo2.png">
      <p>Explore the beautiful Amsterdam with us!</p>
    </div>
  </div>
</div>
</header>
