<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <p><b>Overview of all events</b></p>
      <table class="table event-table">
        <tr class="event-tr">
          <th class="event-th">Title</th>
        </tr>
        <tr *ngFor="let event of aEventservice.findAll()"
            (click)="selectedAeventId = event.id" [class.active]="event.id == selectedAeventId" class="event-tr">
          <td>{{event.title}}</td>
        </tr>
      </table>
      <button class="btn btn-event" (click)="handleClick()">Add Event</button>
    </div>

    <div class="col-lg-6">
<!--      <app-detail4 [(editedAEventId)]="selectedAeventId"></app-detail4>-->
<!--      WIP-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

