.detail-td{
  border: 5px solid navajowhite;
}

.detail-table {
  border-left: 5px solid navajowhite;
  border-right: 5px solid navajowhite; ;
}

.detail-table:last-of-type{
  border: none;
}

th.detail-th{
  border:5px solid navajowhite ;
  background-color: navajowhite;
}

.btn-delete{
  float: right;
  margin-right: -385px;
  background-color: darkorange;
  font-weight: bolder;
  margin-top: 10px;
  border: none;
}

p.space{
  margin-top: 75px;
}


