
  <div class="row">
    <div class="col-lg-12">
      <table *ngIf="data; else other_content" class="table detail-table">
        <tr class="detail-tr">
          <th class="detail-th" colspan="2">Selected event details(id= {{data.id}})</th>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Title</td>
          <td class="detail-td"><input type="text" [(ngModel)]="data.title"></td>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Description</td>
          <td class="detail-td"><input type="text" [(ngModel)]="data.description"></td>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Status</td>
          <td class="detail-td">
            <select [(ngModel)]="data.status">
              <option *ngFor="let status of getStatus()" [ngValue]="status">{{status}}</option>
            </select></td>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Is Ticketed</td>
          <td class="detail-td"><input type="checkbox" [(ngModel)]="data.IsTicketed" [ngModelOptions]="{standalone: true}"></td>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Participation fee</td>
          <td class="detail-td"><input type="number" [(ngModel)]="data.entranceFee"></td>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Maximum participants</td>
          <td class="detail-td"><input type="number" [(ngModel)]="data.maxParticipants"></td>
        </tr>
<!--        WIP-->
<!--        <tr>-->
<!--         <td>-->
<!--           <button class="btn btn-delete detail-td">Delete</button>-->
<!--         </td>-->
<!--        </tr>-->
      </table>
      <ng-template #other_content>Select an event on the left..</ng-template>
    </div>
  </div>

