<div class="container">
  <div class="row">
    <div class="col">
      <form #editForm="ngForm" (ngSubmit)="onSignIn()">
        <div class="form-group">
          <label for="inputEmail">Email: </label>
            <input type="email" class="form-control" id="inputEmail"
                   name="email" [(ngModel)]="user.email" required email #emailComponent="ngModel">
          <div *ngIf="!emailComponent.valid && emailComponent.touched" class="alert alalert-warning">
            Please enter valid email
          </div>

          <div class="form-group">
            <label for="inputPassword">Password: </label>
              <input type="password" class="form-control" [(ngModel)]="user.password" id="inputPassword"
                     name="password" #passwordComponent="ngModel" required>
            <div *ngIf="!passwordComponent.valid && passwordComponent.touched" class="alert alalert-warning">
              Please enter valid password
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Log on</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-3">
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <p class="error message" *ngIf="errorMessage"> {{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>

