<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <p class="space"></p>
      <table *ngIf="editedAEventId != -1; else other_content" class="table detail-table">
        <tr class="detail-tr">
          <th class="detail-th" colspan="2">Selected event details(id= {{currentAEvent.id}})</th>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Title</td>
          <td class="detail-td"><input type="text" [(ngModel)]="currentAEvent.title"></td>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Description</td>
          <td class="detail-td"><input type="text" [(ngModel)]="currentAEvent.description"></td>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Status</td>
          <td class="detail-td">
            <select [(ngModel)]="currentAEvent.status">
              <option *ngFor="let status of getStatus()" [ngValue]="status">{{status}}</option>
            </select></td>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Is Ticketed</td>
          <td class="detail-td"><input type="checkbox" [(ngModel)]="currentAEvent.IsTicketed" [ngModelOptions]="{standalone: true}"></td>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Participation fee</td>
          <td class="detail-td"><input type="number" [(ngModel)]="currentAEvent.entranceFee"></td>
        </tr>
        <tr class="detail-tr">
          <td class="detail-td">Maximum participants</td>
          <td class="detail-td"><input type="number" [(ngModel)]="currentAEvent.maxParticipants"></td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-delete btn-delete detail-td"[disabled]="!disableButton()" (click)="deleteCurrentAEvent()">Delete</button>
            <button class="btn btn-save detail-td"[disabled]="disableButton()" (click)="saveCurrentAEvent()" >Save</button>
            <button class="btn btn-clear detail-td" (click)="clearCurrentAEvent()">Clear</button>
            <button class="btn btn-reset detail-td"[disabled]="disableButton()" (click)="resetCurrentAEvent()">Reset</button>
            <button class="btn btn-cancel detail-td" (click)="cancelCurrentAEvent()">Cancel</button>
          </td>
        </tr>
      </table>
      <ng-template #other_content>Select an event on the left..</ng-template>
    </div>
  </div>
</div>

