<header>
  <div class="container-fluid">
    <div class="row header-wrapper">

      <div class="col-4 logo1">
        <img src="assets/Images/logo1.png"> <br><br>
        <p class="tagLine">Date: {{todayDate}}</p>
      </div>

      <div class="col-4 title">
        <h1>{{websiteTitle}}</h1><br>
      </div>

      <div class="col-4 logo2">
        <img src="assets/Images/logo2.png"><br><br>
        <p class="tagLine">Explore the beautiful Amsterdam with us!</p><br>
      </div>
      <table>
        <tr>
          <td class="secondrowright"><h4>Welcome<br>{{sessionService.currentUserName || "Visitor"}}</h4></td>
        </tr>
      </table>
    </div>
  </div>
</header>
