<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <div class="column">
        <h3>Pick a date</h3>
        <label for="start">Start date:</label>

        <input type="date" id="start" name="trip-start"
               value="dd/mm/yyyy"
               min="2019-09-01" max="2030-12-31">

        <h3>Pick a category</h3>
        <p>Some text..</p>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="column">
        <h3>Events</h3>
        <div class="row">
          <div class="col-lg-6 afbeelding2">
            <a href="https://amsterdam.pannenkoekenboot.nl/" target="_blank">
              <img src="assets/Images/pannekoek.png"> </a>
          </div>
          <div class="col-lg-6 afbeelding2">
            <a href="https://www.iamsterdam.com/en/see-and-do/things-to-do/top-20-things-to-do-in-amsterdam"
               target="_blank">
              <img src="assets/Images/gracht.png"> </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 afbeelding2">
            <a href="https://www.iamsterdam.com/en/about-amsterdam/amsterdam-neighbourhoods/centre/de-wallen"
               target="_blank">
              <img src="assets/Images/redlight.png"> </a>
          </div>
          <div class="col-lg-6 afbeelding2">
            <a href="https://www.adamlookout.com/what-to-expect/" target="_blank">
              <img src="assets/Images/lookout.png"> </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 afbeelding6">
            <a href="https://www.iamsterdam.com/nl/zien-en-doen/musea-en-galeries/musea-in-amsterdam/rijksmuseum"
               target="_blank">
              <img src="assets/Images/rijksmuseum.jpg"> </a>
          </div>
          <div class="col-lg-6 afbeelding6">
          <a href="https://www.annefrank.org/nl/" target="_blank">
            <img src="assets/Images/annefrank.jpg"> </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="column">
      <h3>Column 3</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>
</div>
